:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --black-second-color: #000000;
  --accent-color: #2196f3;
  --background-color-white: #ffffff;
  --links-footer-color: rgba(255, 255, 255, 0.6);
  --hero-background-grey: #2f303a;
  --botton-background-color: #f5f4fa;
  --team-background-color: #f5f4fa;
  --botton-hover-blue: #188ce8;
  --social-links-color: #afb1b8;
  --border-color: #eeeeee;
  --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  --primary-font-family: Roboto, sans-serif;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto';
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (max-width: 1199px) {
  .section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.section.third-section {
  padding-top: 0px;
}

.section__titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

@media screen and (min-width: 1200px) {
  .section__titles {
    font-size: 36px;
    line-height: 42px;
  }
}

@media screen and (max-width: 1199px) {
  .section__titles {
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 30px;
  }
}

.header__container {
  display: flex;
  align-items: center;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 480px) {
  .container .container {
    width: 480px;
  }
}

@media screen and (min-width: 768px) {
  .container .container {
    width: 768px;
  }
}

@media screen and (min-width: 1200px) {
  .container .container {
    width: 1200px;
  }
}

.logo-header {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  margin-right: 92px;
  /* identical to box height */
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.logo-accent {
  font-family: "Raleway";
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.logo-footer {
  color: var(--background-color-white);
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
  display: block;
}

@media screen and (max-width: 1199.98px) {
  .logo-footer {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.our-team {
  margin-bottom: 50px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  background-color: var(--background-color-white);
  padding: 40px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media screen and (max-width: 1199px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
  opacity: 0;
}

.backdrop .modal {
  transform: translate(-50%, -50%) scale(1);
  opacity: 1;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: transparent;
  padding: 0;
  cursor: pointer;
}

.modal-close-btn:hover .modal-close-icon,
.modal-close-btn:focus .modal-close-icon {
  fill: var(--accent-color);
}

.modal-close-icon:hover,
.modal-close-icon:focus {
  fill: var(--accent-color);
  transition: fill 250ms var(--timing-function);
}

.contact-form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

@media screen and (max-width: 1199px) {
  .contact-form-title {
    width: 370px;
    display: flex;
    text-align: center;
    font-size: 20px;
    line-height: 30px;
  }
}

.contact-form {
  margin-bottom: 12px;
}

.contact-form-field {
  display: block;
  position: relative;
  margin-bottom: 10px;
}

.contact-form-data {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: var(--secondary-text-color);
}

.contact-form-input-wrapper {
  position: relative;
  display: block;
  margin-top: 4px;
}

.contact-form-input {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms var(--timing-function);
}

.contact-form-input:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  transition: 250ms var(--timing-function);
}

.contact-form-input:focus + .contact-form-icon {
  fill: var(--accent-color);
}

.contact-form-message {
  width: 100%;
  height: 120px;
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms var(--timing-function);
}

.contact-form-message:focus {
  outline: none;
  border-color: var(--accent-color);
}

.contact-form-message::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
  margin-bottom: 30px;
}

.contatc-form-checkbox-label {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.contatc-form-checkbox-label::before {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 2px solid #555555;
  border-radius: 2px;
  cursor: pointer;
  content: "";
  margin-right: 10px;
}

.contact-form-checkbox:focus + .contatc-form-checkbox-label::before {
  outline: 1px solid var(--accent-color);
}

.contact-form-checkbox:checked + .contatc-form-checkbox-label::before {
  background-image: url("../images/icons/checkbox.svg");
  background-color: var(--accent-color);
  box-shadow: 0 0 0 4px var(--background-color-white);
  background-size: cover;
  border-color: var(--accent-color);
}

@media screen and (max-width: 1199px) {
  .contatc-form-checkbox-label {
    font-size: 12px;
    line-height: 14px;
  }
}

.terms {
  color: var(--accent-color);
}

.contact-form-submit-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 56px;
  border-radius: 4px;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color-white);
  border: none;
}

.contact-form-submit-btn:hover {
  background-color: var(--botton-hover-blue);
}

.services-btn {
  min-width: 200px;
  padding: 10px 32px;
  border-radius: 4px;
  margin: 0 auto;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  cursor: pointer;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--background-color-white);
  border: none;
}

.services-btn:hover, .services-btn:focus {
  background-color: var(--botton-hover-blue);
}

.portfolio-btn {
  padding: 6px 22px;
  border: none;
  border-radius: 4px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  /* identical to box height, or 162% */
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  cursor: pointer;
  border: none;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.portfolio-btn:hover, .portfolio-btn:focus {
  background: var(--accent-color);
  /* shadow-middle */
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  color: var(--background-color-white);
}

.portfolio-btn-active {
  background-color: var(--accent-color);
  color: var(--botton-background-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  letter-spacing: 0.03em;
  cursor: pointer;
  padding: 6px 22px;
  border-radius: 4px;
  border: transparent;
}

.subscribe-btn {
  display: inline-flex;
  background-color: var(--accent-color);
  color: var(--background-color-white);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding-top: 10px;
  padding-right: 29px;
  padding-bottom: 10px;
  padding-left: 28px;
  border: transparent;
  border-radius: 4px;
}

@media screen and (min-width: 1200px) {
  .subscribe-btn {
    margin-left: 12px;
  }
}

.subscribe-btn:hover, .subscribe-btn:focus {
  background-color: var(--botton-hover-blue);
}

@media screen and (max-width: 767.98px) {
  .footer-join {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .footer-join {
    margin-left: 70px;
  }
}

.join-name {
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--background-color-white);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .join-name {
    text-align: center;
  }
}

.join-list {
  display: flex;
  justify-content: center;
}

.join-list__item:not(:last-child) {
  margin-right: 10px;
}

.join-list__link {
  display: flex;
  width: 44px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: #ffffff1a;
  border-radius: 50%;
  color: var(--secondary-color);
  transition: background-color 250ms var(--timing-function);
}

.join-list__link:hover, .join-list__link:focus {
  background-color: var(--accent-color);
}

.join-icon {
  fill: var(--background-color-white);
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe-content {
    margin-top: 60px;
  }
}

@media screen and (max-width: 1199.98px) {
  .subscribe-content {
    width: 100%;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-content {
    margin-left: 93px;
  }
}

.subscribe-title {
  margin-bottom: 20px;
  font-family: 'Roboto';
  font-weight: 700;
  font-size: 14px;
  line-height: 1.17;
  color: var(--botton-background-color);
  margin-bottom: 20px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

@media screen and (max-width: 1199.98px) {
  .subscribe-title {
    text-align: center;
  }
}

.subscribe-block {
  text-align: center;
}

@media screen and (min-width: 1200px) {
  .subscribe-block {
    display: flex;
  }
}

.subscribe-email {
  width: 450px;
  padding-left: 16px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: inherit;
  box-shadow: 0px 4px 4px 0px #00000026;
  border: 1px solid #ffffff4d;
  border-radius: 4px;
  font-family: Roboto;
  font-size: 16px;
  line-height: 1.25;
  color: var(--botton-background-color);
  margin-bottom: 20px;
}

@media screen and (max-width: 480px) {
  .subscribe-email {
    width: 100%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .subscribe-email {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .subscribe-email {
    width: 358px;
    margin-bottom: 0;
  }
}

.subscribe-icon {
  margin-left: 10px;
  fill: var(--botton-background-color);
}

.header {
  position: relative;
  padding-top: 25px;
  padding-bottom: 25px;
  border: 1px solid var(--border-color);
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 767px) {
  .header__container > .header-hidden {
    display: none;
  }
}

.header-hidden {
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .contact-email {
    display: flex;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 767px) {
  .nav-list {
    display: none;
  }
  .header-list {
    display: none;
  }
  .mobile-menu-btn {
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
  }
  .mobile-menu-btn__icon {
    fill: #212121;
  }
  .mobile-menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    padding: 40px;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
    display: flex;
    flex-direction: column;
    background-color: white;
  }
}

@media screen and (max-width: 767px) and (min-width: 768px) {
  .mobile-menu {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu.is-open {
    transform: translateX(0);
  }
  .mobile-menu__nav {
    display: block;
    margin-left: 40px;
  }
  .mobile-menu__item:not(:last-child) {
    margin-bottom: 32px;
  }
  .mobile-menu__link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 28px;
  }
  .mobile-menu__link:hover, .mobile-menu__link:focus {
    color: var(--accent-color);
  }
  .mobile-menu__link.active {
    color: var(--accent-color);
  }
  .mobile_menu__contacts {
    margin-bottom: 64px;
    margin-left: 40px;
    margin-top: auto;
  }
  .mobile-menu__contact-link-tel {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu__contact-link-email {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
  }
  .mobile-menu__socials {
    margin-left: 40px;
  }
}

@media screen and (max-width: 767px) and (max-width: 767.98px) {
  .mobile-menu__socials {
    display: flex;
    flex-wrap: wrap;
    margin-top: 64px;
  }
}

@media screen and (max-width: 767px) {
  .mobile-menu__socials-item {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    color: var(--accent-color);
  }
  .mobile-menu__socials-item:not(:last-child) {
    padding-right: 10px;
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    margin-right: 10px;
  }
  .mobile-menu__socials-link {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: 0.02em;
    color: var(--accent-color);
  }
  .mobile-menu.is-open {
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }
  .mobile-menu__close-btn {
    position: absolute;
    top: 21px;
    right: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    background-color: transparent;
    border-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
    cursor: pointer;
  }
  .mobile-menu__close-btn:hover .mobile-menu__close-icon,
  .mobile-menu__close-btn:focus .mobile-menu__close-icon {
    fill: var(--accent-color);
  }
  .mobile-menu__close-icon:hover,
  .mobile-menu__close-icon:focus {
    fill: var(--accent-color);
    top: 0;
    right: 0;
    cursor: pointer;
    transition: fill 250ms var(--timing-function);
  }
  .mobile-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 48px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid var(--border-color);
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .header-list {
    align-items: center;
    margin-left: auto;
  }
  .mobile-menu-btn {
    display: none;
  }
  .mobile-menu {
    display: none;
  }
  .logo-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1.16;
    margin-right: 88px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .logo-accent {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 1, 16;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 28px;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link.active {
    color: var(--accent-color);
  }
  .navigation.nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation .nav-list__link.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .header-icon__email {
    width: 14px;
    height: 10px;
    margin-right: 8px;
  }
  .header-icon__tel {
    width: 10px;
    height: 14px;
    margin-right: 8px;
  }
  .contact-email {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    margin-left: auto;
    color: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
  }
  .contact-email:hover, .contact-email:focus {
    color: var(--accent-color);
  }
  .contact-number {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-number:hover, .contact-number:focus {
    color: var(--accent-color);
  }
}

@media screen and (min-width: 1200px) {
  .header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid var(--border-color);
  }
  .container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
  .header__container {
    display: flex;
    align-items: center;
  }
  .navigation {
    display: flex;
    align-items: center;
  }
  .nav-list {
    display: flex;
    align-items: center;
  }
  .logo-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 92px;
    /* identical to box height */
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  }
  .logo-accent {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;
    color: var(--accent-color);
  }
  .nav-list__item:not(:last-child) {
    margin-right: 50px;
  }
  .nav-list__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--primary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 28px;
  }
  .nav-list__link:hover, .nav-list__link:focus {
    color: var(--accent-color);
  }
  .nav-list__link.active {
    color: var(--accent-color);
  }
  .navigation.nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
  }
  .navigation .nav-list__link.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;
  }
  .header-icon__email {
    width: 16px;
    height: 12px;
    margin-right: 10px;
  }
  .header-icon__tel {
    width: 10px;
    height: 16px;
    margin-right: 10px;
  }
  .header-list {
    display: flex;
    align-items: center;
    margin-left: auto;
  }
  .contact-email {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: 30px;
    color: var(--secondary-text-color);
    transition: color 250ms var(--timing-function);
  }
  .contact-email:hover, .contact-email:focus {
    color: var(--accent-color);
  }
  .contact-number {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .contact-number:hover, .contact-number:focus {
    color: var(--accent-color);
  }
  .header-icon {
    fill: currentColor;
    margin-right: 10px;
  }
}

.main-section {
  background-color: var(--hero-background-grey);
  text-align: center;
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media screen and (max-width: 1199.98px) {
  .main-section {
    padding-top: 118px;
    padding-bottom: 118px;
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767.98px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile.png);
  }
}

@media screen and (max-width: 767.98px) and (min-device-pixel-ratio: 2), screen and (max-width: 767.98px) and (min-resolution: 192dpi), screen and (max-width: 767.98px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet.png);
  }
}

@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg-tablet@2x.png);
  }
}

@media screen and (min-width: 1200px) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg.png);
  }
}

@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .main-section {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/bg@2x.png);
  }
}

.main-section__title {
  color: var(--botton-background-color);
  font-family: 'Roboto';
  font-weight: 900;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin-bottom: 30px;
}

@media screen and (min-width: 480px) {
  .main-section__title {
    font-size: 26px;
    line-height: 1.62;
  }
}

@media screen and (min-width: 1200px) {
  .main-section__title {
    font-size: 44px;
    line-height: 1.36;
  }
}

.second-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

@media screen and (max-width: 1199px) {
  .second-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.peculiarities-flex {
  display: flex;
  flex-wrap: wrap;
}

.peculiarities-list {
  justify-content: center;
  grid-gap: 30px;
}

@media screen and (min-width: 480px) {
  .peculiarities-list__item {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list__item {
    width: 270px;
  }
}

.peculiarities-list__div {
  display: flex;
  height: 120px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 30px;
  background: #F5F4FA;
}

@media screen and (min-width: 480px) {
  .peculiarities-list__div {
    width: 450px;
  }
}

@media screen and (min-width: 768px) {
  .peculiarities-list__div {
    width: 354px;
  }
}

@media screen and (min-width: 1200px) {
  .peculiarities-list__div {
    width: 270px;
  }
}

.peculiarities-list__logo {
  align-items: center;
}

.peculiarities {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .peculiarities {
    text-align: left;
  }
}

.features {
  font-size: 14px;
  line-height: 1.71;
  font-weight: 400;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.third-section {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (max-width: 1199px) {
  .third-section {
    display: none;
  }
}

.about-us {
  margin-bottom: 50px;
  min-width: 376px;
  height: 42px;
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.about-us__list {
  display: flex;
  align-items: center;
  margin-left: -30px;
  margin-bottom: -30px;
}

.about-us__list-item {
  position: relative;
  flex-basis: calc(100% - 90px)/3;
  margin-left: 30px;
  margin-bottom: 30px;
}

.about-us__lable {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-align: center;
  background: rgba(47, 48, 58, 0.8);
}

.about-us__paragraph {
  display: inline-block;
  padding: 27px 0;
  font-weight: 700;
  font-size: 14px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--background-color-white);
}

.fourth-section {
  background-color: var(--team-background-color);
}

@media screen and (max-width: 1199.98px) {
  .fourth-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

@media screen and (min-width: 1200px) {
  .fourth-section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

@media screen and (min-width: 480px) {
  .our-team__list {
    display: flex;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .our-team__list {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 768px) {
  .our-team__list {
    flex-wrap: wrap;
  }
}

.our-team__list-item {
  background-color: var(--background-color-white);
  padding-bottom: 30px;
  border: transparent;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .our-team__list-item {
    width: 450px;
  }
}

@media screen and (max-width: 767.98px) {
  .our-team__list-item:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .our-team__list-item {
    width: 354px;
    margin-right: 30px;
    margin-bottom: 30px;
  }
  .our-team__list-item:nth-last-child(-n + 2) {
    margin-bottom: 0;
  }
  .our-team__list-item:nth-child(2n) {
    margin-right: 0;
  }
}

@media screen and (min-width: 1200px) {
  .our-team__list-item:not(:last-child) {
    margin-right: 30px;
  }
}

.our-team__list-img {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

@media screen and (min-width: 1200px) {
  .our-team__list-img {
    width: 270px;
    height: 260px;
  }
}

.team-members {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.members-positions {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color-white);
  color: var(--social-links-color);
  border-radius: 50px;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

.social-list__link:hover, .social-list__link:focus {
  background-color: var(--accent-color);
  color: var(--background-color-white);
}

.social-list__icon {
  fill: currentColor;
}

@media screen and (max-width: 1199px) {
  .fift-section {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  cursor: pointer;
  gap: 30px;
}

@media screen and (max-width: 767.98px) {
  .clients-list {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px;
    justify-content: center;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
  }
}

@media screen and (min-width: 768px) {
  .clients-list {
    display: flex;
  }
}

.clients-list__item {
  padding: 0;
}

.clients-list__link {
  box-sizing: border-box;
  border: 1px solid var(--social-links-color);
  border-radius: 4px;
  height: 92px;
  fill: var(--social-links-color);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 250ms ease;
}

@media screen and (max-width: 767px) {
  .clients-list__link {
    max-width: 210px;
  }
}

@media screen and (min-width: 768px) {
  .clients-list__link {
    width: 226px;
  }
}

@media screen and (min-width: 1200px) {
  .clients-list__link {
    width: 170px;
  }
}

.clients-list__link:hover {
  border-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:focus {
  border-color: var(--accent-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover {
  fill: var(--accent-color);
}

.clients-list__link:focus {
  fill: var(--accent-color);
}

.footer {
  background-color: var(--hero-background-grey);
  padding-top: 60px;
  padding-bottom: 60px;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1200px) {
  .footer-container {
    display: flex;
    align-items: baseline;
  }
}

@media screen and (min-width: 1200px) {
  .footer-info {
    width: 231px;
  }
}

@media screen and (max-width: 767.98px) {
  .address {
    margin-bottom: 60px;
  }
}

.footer-list {
  color: var(--botton-background-color);
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

@media screen and (min-width: 1200px) {
  .footer-list {
    display: flex;
    flex-wrap: wrap;
  }
}

.footer-list .contact:hover,
.footer-list .contact:focus {
  color: var(--accent-color);
}

.street {
  color: var(--botton-background-color);
  font-family: 'Roboto';
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: center;
}

.footer-list__item {
  text-align: center;
}

.footer-list__item:not(:last-child) {
  margin-bottom: 9px;
}

.contact {
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  font-style: normal;
  font-family: 'Roboto';
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms var(--timing-function);
}

.btn-section {
  background-color: var(--secondary-color);
  padding-top: 89px;
  padding-bottom: 99px;
}

@media screen and (max-width: 1199.98px) {
  .btn-section {
    padding-top: 40px;
    padding-bottom: 60px;
  }
}

.portfolio-btn-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 50px;
}

@media screen and (max-width: 767.98px) {
  .portfolio-btn-list {
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-btn-list {
    margin-bottom: 30px;
  }
}

.portfolio-btn-list__item:not(:last-child) {
  margin-right: 8px;
}

@media screen and (min-width: 480px) and (max-width: 767.98px) {
  .portfolio-btn-list__item:nth-child(3) {
    margin-right: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio-btn-list__item:nth-child(-n + 3) {
    margin-bottom: 15px;
  }
}

@media screen and (max-width: 479.98px) {
  .portfolio-btn-list__item:nth-child(-n + 5) {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-department-list {
    padding-bottom: 94px;
  }
}

.portfolio-department-list {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-department-list {
    margin: -15px;
  }
}

.portfolio-department-list__item {
  margin-bottom: 30px;
  background-color: var(--secondary-color);
}

@media screen and (min-width: 480px) {
  .portfolio-department-list__item {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .portfolio-department-list__item {
    width: 354px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.98px) {
  .portfolio-department-list__item {
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .portfolio-department-list__item {
    width: 370px;
    margin-right: 30px;
  }
  .portfolio-department-list__item:nth-child(3n + 3) {
    margin-right: 0;
  }
  .portfolio-department-list__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

@media screen and (max-width: 767.98px) {
  .portfolio-department-list__item:not(:last-child) {
    margin-bottom: 30px;
  }
}

.portfolio-department-list {
  display: flex;
  flex-wrap: wrap;
  transition: color 250ms var(--timing-function), background-color 250ms var(--timing-function);
}

@media screen and (min-width: 480) {
  .portfolio-department-list {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.portfolio-department-list__item {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.portfolio-department-list__item:hover, .portfolio-department-list__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-department-list__item:hover .project-overlay {
  transform: translateY(0);
}

.project-wrapper {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: 250ms var(--timing-function);
}

.project-text {
  position: absolute;
  bottom: 0;
  padding: 63px 24px;
  width: 100%;
  height: 100%;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--background-color-white);
}

.portfolio-department__wrapper {
  background: var(--background-color-white);
  border: 1px solid var(--border-color);
  box-sizing: border-box;
  border-top: none;
  padding: 20px 24px;
  -webkit-box-flex: 1;
  flex-grow: 1;
  -ms-flex-position: 1;
}

.img-description {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  /* identical to box height, or 200% */
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  margin-bottom: 4px;
}

.department {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  /* identical to box height, or 187% */
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
/*# sourceMappingURL=main.css.map */