/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

address {
    font-style: normal;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section.third-section {
    padding-top: 0px;
}

body {
    font-family: "Roboto", sans-serif;
}

.body {
    font-family: "Roboto", sans-serif;
}

.header {
    padding-top: 24px;
    padding-bottom: 24px;
    border: 1px solid #ECECEC;
}

.visual-hiden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.container {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

.header__container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    align-items: center;
}

.logo-header {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    margin-right: 92px;


    letter-spacing: 0.03em;
    color: #212121;
}

.logo-accent {
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1, 19;
    letter-spacing: 0.03em;

    color: #2196f3;
}

.nav-list__item:not(:last-child) {
    margin-right: 50px;
}

.nav-list__link {
    position: relative;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    padding-bottom: 28px;
}

.nav-list__link:hover,
.nav-list__link:focus {
    color: #2196f3;
}

.nav-list__link.active {
    color: #2196f3;
}

.navigation.nav-list__link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
}

.navigation .nav-list__link.active::after {
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    display: block;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #2196f3;

}



.header-list {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.header-list__item:not(:last-child) {}

.contact-email {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    margin-left: auto;
    margin-right: 30px;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email:hover,
.contact-email:focus {
    color: #2196f3;
}

.contact-number {
    display: flex;
    align-items: center;
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-number:hover,
.contact-number:focus {
    color: #2196f3;
}

.header-icon {
    fill: currentColor;
    margin-right: 10px;
}

.main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg.png);
    background-size: cover;
    background-color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
}

.container-main-section {}

.main-title {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    margin-left: 238px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.34;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #ffffff;
}

.services-btn {
    min-width: 200px;
    padding: 10px 32px;
    border-radius: 4px;
    margin-left: 485px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    cursor: pointer;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
}

.services-btn:hover,
.services-btn:focus {
    background-color: #188CE8;
}

.second-section {
    margin-left: auto;
    margin-right: auto;
}

.container-second-section {}

.peculiarities-list__div {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 120px;
    background: #F5F4FA;
    border-radius: 4px;
    margin-bottom: 30px;
}

.peculiarities-list {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
}

.peculiarities-list__item {
    flex-basis: calc((100% - 120px) / 4);
    margin-left: 30px;
    margin-bottom: 30px;
}

.peculiarities {
    width: 270px;
    height: 16px;
    margin-bottom: 10px;
    font-weight: bold;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
}

.features {
    width: 270px;
    height: 75px;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;

    color: #757575;
}

.third-section {
    margin-left: auto;
    margin-right: auto;
}

.container-third-section {}

.about-us {
    margin-bottom: 50px;
    min-width: 376px;
    height: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.about-us__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
}

.about-us__list-item {
    position: relative;
    flex-basis: calc(100% - 90px) / 3;
    margin-left: 30px;
    margin-bottom: 30px;

}


.about-us__lable {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
}

.about-us__paragraph {
    display: inline-block;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.fourth-section {
    margin-left: auto;
    margin-right: auto;
    background-color: #F5F4FA;
}

.container-fourth-section {}

.our-team {
    margin-bottom: 50px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.our-team__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
}

.our-team__list-item {
    flex-basis: calc(100% - 120px) / 4;
    margin-left: 30px;
    margin-bottom: 30px;
}

.our-team__wrapper {
    background: #FFFFFF;


    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 32px;
    padding-right: 32px;
}

.team-members {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;


    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.members-positions {
    padding-top: 10px;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.18;


    text-align: center;
    letter-spacing: 0.03em;

    color: #757575;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    justify-content: space-between;
}

.social-list__item {
    cursor: pointer;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: #FFFFFF;
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__icon {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-list__link:hover,
.social-list__link:focus {
    background-color: #2196f3;
}

.social-list__link:hover .social-list__icon,
.social-list__link:focus .social-list__icon {
    fill: #ffffff;
}

.clients-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;

}

.clients-list {
    display: flex;
    justify-content: space-between;
}

.clients-list__item {}

.clients-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-logo {
    fill: #AFB1B8;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list__link:hover,
.clients-list__link:focus {
    border-color: #2196f3;
}

.clients-list__link:hover .clients-logo,
.clients-list__link:focus .clients-logo {
    fill: #2196f3;
}



.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #2f303a;
}

.footer-container {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.footer-join {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    margin-left: 70px;
}

.join-name {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #FFFFFF;
    margin-bottom: 20px;
    padding-top: 12px;
}

.join-list {
    display: flex;
}

.join-list__item:not(:last-child) {
    margin-right: 10px;
}

.join-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-icon {
    fill: #FFFFFF;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-list__link:hover,
.join-list__link:focus {
    background-color: #2196f3;
}

.subscribe-block {
    margin-left: auto;
}

.subscribe-content {
    display: flex;
    align-items: center;
    text-align: center;
}

.subscribe-block input {
    margin-right: 12px;
    padding: 15px;
    width: 358px;
    border-color: inherit;
    background-color: #2f303a;
    color: #FFFFFF;
    outline: transparent;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscribe-block input:hover,
.subscribe-block input:focus {
    border: 1px solid #2196f3;
}

.subscribe-btn {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 10px 28px;
    width: 200px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background-color: #2196f3;
    border-color: #2196f3;
    box-shadow: 0pc 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    transition: backgroudn-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
    border: none;
}

.subscribe-btn:hover,
.subscribe-btn:focus {
    background-color: #188CE8;
}

.subscribe-icon {
    fill: #FFFFFF;
    margin-left: 10px;
}

.subscribe-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}



.logo-footer {
    width: 145px;
    height: 31px;
    font-family: "Raleway";
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #fff;
}

.address {
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;

    color: #ffffff;
}

.footer-list {
    padding-top: 20px;
}

.footer-list__item:not(:last-child) {
    padding-bottom: 10px;
}

.contact-email-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;

    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-email-footer:hover,
.contact-email-footer:focus {
    color: #2196f3;
}

.contact-number-footer {
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 1.71;


    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-number-footer:hover,
.contact-number-footer:focus {
    color: #2196f3;
}

.portfolio-section {}

.portfolio-btn-container {}

.portfolio-btn-list {
    display: flex;
    margin-bottom: 50px;
    justify-content: center;
}

.portfolio-btn-list__item:not(:last-child) {
    margin-right: 8px;
}

.portfolio-btn {
    padding: 6px 22px;
    border: none;
    border-radius: 4px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;


    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    cursor: pointer;
    border: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-btn:hover,
.portfolio-btn:focus {
    background: #2196f3;


    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    color: #FFFFFF;
}

.portfolio-department-container {}

.portfolio-department-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-department-list__item:hover,
.portfolio-department-list__item:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-department-list__item {
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.project-wrapper {
    position: relative;
    overflow: hidden;
}

.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(33, 150, 243, 0.9);
    transform: translateY(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-department-list__item:hover .project-overlay {
    transform: translateY(0);
}

.project-text {
    position: absolute;
    bottom: 0;
    padding: 63px 24px;
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: #FFFFFF
}


.portfolio-department__wrapper {
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-sizing: border-box;
    border-top: none;
    padding: 20px 24px;
}

.img-description {
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 2;

    letter-spacing: 0.06em;
    color: #212121;
    margin-bottom: 4px;
}

.department {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;


    letter-spacing: 0.03em;

    color: #757575;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 500ms linear, visibility 500ms linear;
}

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    background-color: rgba(255, 255, 255);
    padding: 40px;
}

.modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: transparent;
    padding: 0;
    cursor: pointer;
}

.modal-close-icon:hover,
.modal-close-icon:focus {
    fill: #2196f3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    margin-bottom: 12px;
}

.contact-form-field {
    display: block;
    margin-bottom: 10px;
}

.contact-form-data {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;


    letter-spacing: 0.01em;

    color: #757575
}

.contact-form-input-wrapper {
    position: relative;
    display: block;
    margin-top: 4px;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-input:focus {
    outline: none;
    border-color: #2196f3;
}

.contact-form-input:focus+.contact-form-icon {
    fill: #2196f3;
}

.contact-form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    display: block;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
    width: 100%;
    height: 120px;
    margin-top: 4px;
    padding: 12px 16px;
    resize: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: #2196f3;
}

.contact-form-message::placeholder {
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 0.01em;

    color: rgba(117, 117, 117, 0.5);
}

.contact-form-checkbox-wrapper {
    margin-bottom: 30px;
}

.contatc-form-checkbox-label {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;


    letter-spacing: 0.03em;

    color: #757575;
}

.contatc-form-checkbox-label::before {
    display: inline-block;
    width: 16px;
    height: 15px;
    border: 2px solid #555555;
    border-radius: 2px;
    cursor: pointer;
    content: "";
    margin-right: 10px;
}

.contact-form-checkbox:focus+.contatc-form-checkbox-label::before {
    outline: 1px solid #2196f3;
}

.contact-form-checkbox:checked+.contatc-form-checkbox-label::before {
    background-image: url("../images/icons/checkbox.svg");
    background-color: #2196f3;
    box-shadow: 0 0 0 4px #FFFFFF;
    background-size: cover;
    border-color: #2196f3;

}

.terms {
    color: #2196f3;
}

.contact-form-submit-btn {
    display: block;
    margin: 0 auto;
    padding: 10px 56px;
    border-radius: 4px;
    background-color: #2196f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    cursor: pointer;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    border: none;
}

.contact-form-submit-btn:hover {
    background-color: #188CE8;
} */


/* 
// utils
@import './utils/visually-hidden';

// base
@import './base/common';
@import './base/container';

// components
@import './components/logo';
@import './components/our-team';
@import './components/modal_form';
@import './components/buttons';
@import './components/footer-join';
@import './components/footer-form';

// layouts
@import './layout/header';
@import './layout/main-section';
@import './layout/second-section';
@import './layout/third-section';
@import './layout/fourth-section';
@import './layout/fift-section';
@import './layout/footer';
@import './layout/portfolio'; */