.footer {
    background-color: var(--hero-background-grey);
    padding-top: 60px;
    padding-bottom: 60px;
}

.footer-container {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: flex;
        flex-wrap: wrap;

        justify-content: space-around;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
    }
}

.footer-info {
    @media screen and (min-width: 1200px) {
        width: 231px;
    }
}

.address {
    @media screen and (max-width: 767.98px) {
        margin-bottom: 60px;

    }
}

.footer-list {
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-wrap: wrap;
    }

    color: var(--botton-background-color);
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.footer-list .contact:hover,
.footer-list .contact:focus {
    color: var(--accent-color);
}

.street {
    color: var(--botton-background-color);
    font-family: 'Roboto';
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: center;
    // margin-bottom: 9px;

}

.footer-list__item {
    text-align: center;
}

.footer-list__item:not(:last-child) {
    margin-bottom: 9px;
    ;
}

.contact {
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
    font-style: normal;
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    transition: color 250ms var(--timing-function);

}