.footer {
    background-color: var(--hero-background-grey);
    padding-top: 60px;
    padding-bottom: 60px; 
}

.footer-container {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: flex;
        flex-wrap: wrap;
       
        justify-content: space-around;

    }

    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: baseline;
        justify-content: space-between;
    }
}

.address{
    @media screen and (max-width: 767.98px) {
            margin-bottom: 60px;
    
        }
    }

    .footer-list{
        @media screen and (min-width: 1200px) {
            display: flex;
            flex-wrap: wrap;
            ;
        }
            color: var(--background-color-white);
            font-family: 'Roboto';
            font-size: 14px;
            line-height: 1.71;
            letter-spacing: 0.03em;
    }

    .footer-list .contact:hover,
    .footer-list .contact:focus {
        color: var(--accent-color)
    }

    .street {
        color: var(--background-color-white);
        font-family: 'Roboto';
        font-style: normal;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        text-align: center;
        margin-bottom: 9px;
    
    }

    .footer-list__item {
        text-align: center;
    }

    .footer-list__item:not(:last-child){
        margin-bottom: 9px;
    }

    .contact {
        color: rgba(255, 255, 255, 0.6);
        text-decoration: none;
        font-style: normal;
        font-family: 'Roboto';
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        
    }

    // .joim-name {
    //     font-family: 'Roboto';
    // font-weight: 700;
    // font-size: 14px;
    // line-height: 1.17;
    // color: var(--background-color-white);
    // margin-bottom: 20px;
    // letter-spacing: 0.03em;
    // text-transform: uppercase;

    // @media screen and (max-width: 1199.98px) {
    //         text-align: center;
    //     }
    // }

    .footer-join {
        display: flex;
        flex-direction: column;
        align-items: center;
        @media screen and (max-width: 767.98px) {
            margin-bottom: 60px;
    
        }

        @media screen and (min-width: 1200px) {
             margin-left: 70px;
}
    }

    .join-list {
        display: flex;
        justify-content: center;
    }

    .footer-info {
        @media screen and (min-width: 1200px) {
            width: 231px;
        }
    }

    .join-list__link {
        display: flex;
        width: 44px;
        height: 44px;
        justify-content: center;
        align-items: center;
        background-color: #ffffff1a;
        border-radius: 50%;
        color: var(--background-color-white);
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
        &:hover,
        &:focus{
            background-color: var(--accent-color);
        }
    }

    .join-icon {
        fill: var(--background-color-white);
    }

    .join-list__item:not(:last-child) {
        margin-right: 10px;
    }
// .footer {
//     background: var(--hero-background-grey);
//     align-items: center;
//     display: flex;
//     justify-content: center;
//     padding-top: 60px;
//     padding-bottom: 60px;

//     @media screen and (min-width:768px) {
//         text-align: center;
//     }
// }

// .footer > .footer-container {
//     @media screen and (max-width:767px) {
//         display: flex;
//         flex-direction: column;
//     }
   

//     @media screen and (min-width:1200px) {
//         display: flex;
//         align-items: center;
//     }

//     @media screen and (min-width:768px) {
//         display: flex;
//         flex-wrap: wrap; 
//         justify-content: center;
//     }
// }

// .footer-list {
//     display: flex;
//     flex-direction: column;
//     align-items: center;
//     text-align: center;
// }


// .footer-info {
//     display: flex;
//     flex-direction: column;
//     margin-right: 165px;
    

//     @media screen and (min-width:1200px) {
//         margin-right: 70px;
//         margin-bottom: 0;
//         display: flex;
//     }

//     @media screen and (max-width:767px){
//         display: flex;
//         align-items: center;
//         text-align: center;
//         margin-right: 0;
//         margin-bottom: 0;
//     }

//     @media screen and (min-width:768px){
       
//         display: flex;
//         text-align: center;
//         align-items: center;
//     }
//     margin-bottom: 60px;
// }

// .logo-footer {
//     @media screen and (min-width:1200px) {
//         text-align: left;
//     }
// }

// .address {
//     font-style: normal;
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: var(--background-color-white);
    
//     margin-top: 20px;
//     margin-bottom: 9px;
    
// }

// .contact-email-footer, .contact-number-footer {
//     font-weight: 400;
//     font-size: 14px;
//     line-height: 1.71;
//     letter-spacing: 0.03em;
//     color: rgba(255, 255, 255, 0.6);
//     display: flex;
//     margin-bottom: 9px;

//     transition: 250ms ease;
// }

// .contact-number-footer {
//     margin: 0;
// }

// .contact-number-footer:hover, .contact-email-footer:hover {
//     color: var(--accent-color);
//     transition: transform 250ms var(--timing-function);
// }

// .footer {
//     padding-top: 60px;
//     padding-bottom: 60px;
//     background: var(--hero-background-grey);
// }

// .footer-container {
//     display: flex;
//     margin-left: auto;
//     margin-right: auto;
// }

// .address {
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     /* or 171% */
//     letter-spacing: 0.03em;
//     color: var(--background-color-white);
// }

// .contact-email-footer {
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     /* or 171% */
//     letter-spacing: 0.03em;
//     color: var(--links-footer-color);
//     transition: color 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }
// }


// .contact-number-footer {
//     font-style: normal;
//     font-weight: normal;
//     font-size: 14px;
//     line-height: 1.71;
//     /* or 171% */
//     letter-spacing: 0.03em;
//     color: var(--links-footer-color);
//     transition: color 250ms var(--timing-function);

//     &:hover,
//     &:focus {
//         color: var(--accent-color);
//     }
// }


// .footer-list {
//     padding-top: 20px;
// }

// .footer-list__item:not(:last-child) {
//     padding-bottom: 10px;
// }
