.fourth-section {
  background-color: var(--team-background-color);

  @media screen and (max-width: 1199.98px) {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.our-team__list {
  @media screen and (min-width: 480px) {
    display: flex;
  }

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  @media screen and (min-width: 768px) {
    flex-wrap: wrap;
  }
}

.our-team__list-item {
  background-color: var(--background-color-white);
  padding-bottom: 30px;
  border: transparent;
  // box-shadow: 0px 4px 4px 0px #00000040;
  background: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (min-width: 480px) and (max-width: 767.98px) {
    width: 450px;

  }

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1199.98px) {
    width: 354px;

    margin-right: 30px;
    margin-bottom: 30px;

    &:nth-last-child(-n + 2) {
      margin-bottom: 0;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.our-team__list-img {
  @media screen and (min-width: 1200px) {
    width: 270px;
    height: 260px;
  }

  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;
}

.team-members {
  color: var(--primary-text-color);
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
}

.members-positions {
  font-family: 'Roboto';
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 16px;
  color: var(--secondary-text-color);
}

.social-list {
  display: flex;
  align-items: center;
  justify-content: center;
}

.social-list__item:not(:last-child) {
  margin-right: 10px;
}

.social-list__link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  background-color: var(--background-color-white);
  color: var(--social-links-color);
  border-radius: 50px;
  transition: color 250ms var(--timing-function),
    background-color 250ms var(--timing-function);

  &:hover,
  &:focus {
    background-color: var(--accent-color);
    color: var(--background-color-white);
  }
}

.social-list__icon {
  fill: currentColor;
}