.fourth-section {
    background-color: var(--team-background-color);

    @media screen and (max-width: 1199.98px) {
      padding-top: 60px;
      padding-bottom: 60px;
    }
  
    @media screen and (min-width: 1200px) {
      padding-top: 94px;
      padding-bottom: 94px;
    }
}

.our-team__list {
    @media screen and (min-width: 480px) {
        display: flex;
      }
    
      @media screen and (min-width: 480px) and (max-width: 767.98px) {
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    
      @media screen and (min-width: 768px) {
        flex-wrap: wrap;
      }
}

.our-team__list-item {
    background-color: var(--background-color-white);
    padding-bottom: 30px;
    border: transparent;
    box-shadow: 0px 4px 4px 0px #00000040;
  
    @media screen and (min-width: 480px) and (max-width: 767.98px) {
        width: 450px;  
        
      }
  
    @media screen and (max-width: 767.98px) {
          &:not(:last-child) {
        margin-bottom: 30px;
      }
    }
  
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
      width: 354px;
  
      margin-right: 30px;
      margin-bottom: 30px;
  
      &:nth-last-child(-n + 2) {
        margin-bottom: 0;
      }
  
      &:nth-child(2n) {
        margin-right: 0;
      }
    }
  
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
}

.our-team__list-img {
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 260px;
      }
    
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 30px;
}

.team-members {
    color: var(--primary-text-color);
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-bottom: 10px;
    text-align: center;
}

.members-positions {
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    text-align: center;
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-list__item:not(:last-child){
    margin-right: 10px;
}

.social-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    background-color: var(--background-color-white);
    color: var(--social-links-color);
    border-radius: 50px;
    transition: color 250ms var(--timing-function),
        background-color 250ms var(--timing-function);

        &:hover,
        &:focus{
        background-color: var(--accent-color);
        color: var(--background-color-white);
        }
}

.social-list__icon {
    fill: currentColor;
}


// .fourth-section {
//     background: var(--team-background-color);
// }

// .our-team__list {
//     display: flex; 
//     justify-content: space-between;
//     margin: 0;
//     padding: 0;

//     flex-wrap: wrap;
//     justify-content: center;
// }

// .our-team__list-item {
//     background: #FFFFFF;
//     box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
//     border-radius: 0px 0px 4px 4px;
//     // margin-bottom: 30px;

//     @media screen and (max-width:767px) {
//         width: 450px;
//         height: 622px;
//         margin-bottom: 30px;
//     }

//     @media screen and (min-width:768px) {
//         width: 354px;
//         height: 536px;
//         margin-bottom: 30px;
//     }
// }

// .our-team__list-item:nth-child(4) {
//     @media screen and (max-width:767px) {
//         margin-bottom: 0;
//     }
// }

// .our-team__list-item:nth-child(3) {
//     @media screen and (max-width:768px) {
//         margin-bottom: 30px;
//         }
// }

// .our-team__list-item:last-child,
// .our-team__list-item:nth-child(3) {
//     @media screen and (min-width:768px) {
//         margin-bottom: 0;        
//     }
// }

// .our-team__list-item:not(:last-child) {
//     margin-right: 30px;
//     @media screen and (max-width:767px) {
//         margin-right: 0;
//     }
// }

// .our-team__list-item:nth-child(2) {
//     @media screen and (max-width:1199px) {
//         margin-right: 0;
//     }
// }

// .our-team__list-img {
//     @media screen and (max-width:767px) {
//         width: 450px;
//         height: 460px;
//     }

//     @media screen and (min-width:767px) {
//         width: 354px;
//         height: 374px;
//     }
// }

// .our-team__wrapper {
//     padding-top: 30px;
//     padding-bottom: 30px;
// }

// .team-members {
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 1.18 ;
//     text-align: center;
//     letter-spacing: 0.03em; 
//     color: var(--primary-text-color);

//     margin-bottom: 10px;
// }

// .members-positions {
//     font-weight: 400;
//     font-size: 16px;
//     line-height: 1.18;
//     text-align: center;
//     letter-spacing: 0.03em;
//     color: var(--secondary-text-color);
//     margin-bottom: 16px;
// }

// .social-list {
//     display: flex;
//     justify-content: center;
//     align-items: center;
// }

// .social-list__item:not(:last-child) {
//     margin-right: 10px;
// }

// .social-list__link {
//     display: flex;
//     align-items: center;
//     justify-content: center;

//     width: 44px;
//     height: 44px;

//     background-color: var(--background-color-white);
//     border-radius: 50%;
//     transition: 250ms ease;

//     &:hover,
//     &:focus {
//         background-color: var(--accent-color);
//         transition: 250ms var(--timing-function);
//     }
// }

// .social-list__icon {
//         fill: var(--social-links-color);
//         transition: fill 250ms var(--timing-function);
    
//         .social-list__link:hover &,
//         .social-list__link:focus & {
//             fill: var(--background-color-white);
//         }
//     }

