.header {
    position: relative;
    padding-top: 25px;
    padding-bottom: 25px;
    border: 1px solid var(--border-color);
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__container>.header-hidden {
    @media screen and (max-width:767px) {
        display: none;
    }
}

.header-hidden {
    margin-left: auto;
}


// 768px -1199px
@media screen and (max-width: 1199px) {
    .contact-email {
        display: flex;
        margin-bottom: 10px;
    }
}

// 0px - 787px
@media screen and (max-width: 767px) {

    .nav-list {
        display: none;
    }

    .header-list {
        display: none;
    }

    .mobile-menu-btn {
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    .mobile-menu-btn__icon {
        fill: #212121;
    }

    .mobile-menu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 999;
        padding: 40px;

        transform: translateX(100%);
        transition: transform 250ms ease-in-out;

        display: flex;
        flex-direction: column;

        background-color: rgb(255, 255, 255);

        @media screen and (min-width:768px) {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }

    }

    .mobile-menu.is-open {
        transform: translateX(0);
    }


    .mobile-menu__nav {
        display: block;
        margin-left: 40px;
    }

    .mobile-menu__item:not(:last-child) {
        margin-bottom: 32px;
    }

    .mobile-menu__link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 40px;
        line-height: 47px;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-bottom: 28px;


        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.active {
            color: var(--accent-color);
        }
    }

    .mobile_menu__contacts {
        margin-bottom: 64px;
        margin-left: 40px;
        margin-top: auto;
    }

    .mobile-menu__contact-link-tel {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 34px;
        line-height: 40px;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    .mobile-menu__contact-link-email {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
    }

    .mobile-menu__socials {
        margin-left: 40px;

        @media screen and (max-width: 767.98px) {
            display: flex;
            flex-wrap: wrap;
            margin-top: 64px;
        }
    }

    .mobile-menu__socials-item {
        font-weight: 500;
        font-size: 18px;
        line-height: 1.22;
        color: var(--accent-color);

        &:not(:last-child) {
            padding-right: 10px;
            border-right: 1px solid rgba(33, 33, 33, 0.2);
            margin-right: 10px;
        }
    }

    .mobile-menu__socials-link {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 0.02em;
        color: var(--accent-color);
    }

    .mobile-menu.is-open {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
    }

    .mobile-menu__close-btn {
        position: absolute;
        top: 21px;
        right: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 18px;
        height: 18px;
        background-color: transparent;
        border-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
        cursor: pointer;

        &:hover .mobile-menu__close-icon,
        &:focus .mobile-menu__close-icon {
            fill: var(--accent-color);
        }
    }

    .mobile-menu__close-icon:hover,
    .mobile-menu__close-icon:focus {
        fill: var(--accent-color);
        top: 0;
        right: 0;
        cursor: pointer;
        transition: fill 250ms var(--timing-function);
    }

    .mobile-menu__container {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding-top: 48px;
        padding-bottom: 48px;
        display: flex;
        flex-direction: column;
    }
}

// 768px +
@media screen and (min-width: 768px) {

    .header {

        padding-top: 24px;
        padding-bottom: 24px;
        border: 1px solid var(--border-color);
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .header-list {
        align-items: center;
        margin-left: auto;
    }

    .mobile-menu-btn {
        display: none;
    }

    .mobile-menu {
        display: none;
    }

    .logo-header {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.16;
        margin-right: 88px;
        /* identical to box height */

        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }

    .logo-accent {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 24px;
        line-height: 1, 16;
        letter-spacing: 0.03em;

        color: var(--accent-color);
    }


    .nav-list__item:not(:last-child) {
        margin-right: 50px;
    }

    .nav-list__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-bottom: 28px;


        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.active {
            color: var(--accent-color);
        }
    }


    .navigation.nav-list__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .navigation .nav-list__link.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;
    }

    .header-icon__email {
        width: 14px;
        height: 10px;
        margin-right: 8px;
    }

    .header-icon__tel {
        width: 10px;
        height: 14px;
        margin-right: 8px;
    }

    .contact-email {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        margin-left: auto;
        color: var(--secondary-text-color);
        transition: color 250ms var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }

    .contact-number {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }
}

// 1200px +
@media screen and (min-width: 1200px) {

    .header {

        padding-top: 24px;
        padding-bottom: 24px;
        border: 1px solid var(--border-color);
    }

    .container {
        max-width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
    }

    .header__container {
        display: flex;
        align-items: center;
    }

    .navigation {
        display: flex;
        align-items: center;
    }

    .nav-list {
        display: flex;
        align-items: center;
    }

    .logo-header {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1.19;
        margin-right: 92px;
        /* identical to box height */
        letter-spacing: 0.03em;
        color: var(--primary-text-color);
    }

    .logo-accent {
        font-family: "Raleway";
        font-style: normal;
        font-weight: bold;
        font-size: 26px;
        line-height: 1, 19;
        letter-spacing: 0.03em;
        color: var(--accent-color);
    }

    .nav-list__item:not(:last-child) {
        margin-right: 50px;
    }

    .nav-list__link {
        position: relative;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--primary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        padding-bottom: 28px;


        &:hover,
        &:focus {
            color: var(--accent-color);
        }

        &.active {
            color: var(--accent-color);
        }
    }


    .navigation.nav-list__link {
        position: relative;
        display: block;
        padding-top: 32px;
        padding-bottom: 32px;
    }

    .navigation .nav-list__link.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        content: "";
        display: block;
        width: 100%;
        height: 4px;
        border-radius: 2px;
        background-color: #2196f3;

    }

    .header-icon__email {
        width: 16px;
        height: 12px;
        margin-right: 10px;
    }

    .header-icon__tel {
        width: 10px;
        height: 16px;
        margin-right: 10px;
    }

    .header-list {
        display: flex;
        align-items: center;
        margin-left: auto;
    }

    .contact-email {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        margin-left: auto;
        margin-right: 30px;
        color: var(--secondary-text-color);
        transition: color 250ms var(--timing-function);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }


    .contact-number {
        display: flex;
        align-items: center;
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.02em;
        color: var(--secondary-text-color);
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

        &:hover,
        &:focus {
            color: var(--accent-color);
        }
    }


    .header-icon {
        fill: currentColor;
        margin-right: 10px;
    }
}