
.main-section {
    display: flex;
    align-items: center;

    @include mq(mobile) {
        height: 400px;
    }

    @include mq(tablet) {
        height: 400px;
    }

    @include mq(desktop) {
        height: 600px;
    }
}



.main-section__bg{

    background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), url(/images/hero/bg-mobile.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;


    @include mq(retina){
        background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
        url(/images/hero/bg-mobile@2x.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

    @include mq(tablet){
        background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
        url(/images/hero/bg-tablet.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include mq(retina){
            background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
            url(/images/hero/bg-tablet@2x.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
        }
    }

    @include mq(desktop){
        background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
        url(/images/hero/bg.png);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

        @include mq(retina){
            background: linear-gradient( rgba(47, 48, 58, 0.4),rgba(47, 48, 58, 0.4)), 
            url(/images/hero/bg@2x.png);
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;

        }
    }
}


.main-section__title {
    width: 696px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color-white);
    display: flex;
    margin: 0 auto;
    margin-bottom: 30px;

    @media screen and (max-width: 1199px) {
        font-size: 26px;
        line-height: 42px;
        width: 360px;
    }
}