.main-section {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(../images/hero/bg.png);
    background-size: cover;
    background-color: #C4C4C4;
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    width: 1600px;
    height: 600px;
}

.main-section__title {
    width: 696px;
    height: 120px;
    left: 452px;
    top: 280px;
    margin-left: 238px;
    margin-bottom: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.34;
    /* or 136% */
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--background-color-white);
}