.second-section {
    padding-top: 94px;
    padding-bottom: 94px;

    @media screen and (max-width:1199px) {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

.peculiarities-flex {
    display: flex;
    flex-wrap: wrap;
}

.peculiarities-list {
    justify-content: center;
    grid-gap: 30px;
}

.peculiarities-list__item {
    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.peculiarities-list__div {
    display: flex;
    height: 120px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 30px;

    background: #F5F4FA;

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 768px) {
        width: 354px;
    }

    @media screen and (min-width: 1200px) {
        width: 270px;
    }
}

.peculiarities-list__logo {
    align-items: center;
}

.peculiarities {
    margin-bottom: 10px;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 768px) {
        text-align: left;
    }
}

.features {
    font-size: 14px;
    line-height: 1.71;
    font-weight: 400;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
}