.third-section {
    margin-left: auto;
    margin-right: auto;
    @media screen and(max-width:1199px) {
        display: none;
    }
}


.about-us {
    margin-bottom: 50px;
    min-width: 376px;
    height: 42px;
    font-weight: bold;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
}

.about-us__list {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-bottom: -30px;
}

.about-us__list-item {
    position: relative;
    flex-basis: calc(100% - 90px) / 3;
    margin-left: 30px;
    margin-bottom: 30px;

}


.about-us__lable {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    text-align: center;
    background: rgba(47, 48, 58, 0.8);
}

.about-us__paragraph {
    display: inline-block;
    padding: 27px 0;
    font-weight: 700;
    font-size: 14px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--background-color-white);
}