.subscribe-content {
    @media screen and (min-width: 768px) and (max-width: 1199.98px) {

        margin-top: 60px;
    }

    @media screen and (max-width: 1199.98px) {
        width: 100%;
    }

    @media screen and (min-width: 1200px) {
        margin-left: 93px;
    }
}

.subscribe-title {
    @media screen and (max-width: 1199.98px) {
        text-align: center;
    }

    margin-bottom: 20px;
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 14px;
    line-height: 1.17;
    color: var(--botton-background-color);
    margin-bottom: 20px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.subscribe-block {
    text-align: center;

    @media screen and (min-width: 1200px) {
        display: flex;
    }
}

.subscribe-email {
    @media screen and (max-width: 480px) {
        width: 100%;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.98px) {
        display: block;
        margin-right: auto;
        margin-left: auto;

    }

    @media screen and (min-width: 1200px) {
        width: 358px;
        margin-bottom: 0;
    }

    width: 450px;
    padding-left: 16px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: inherit;

    box-shadow: 0px 4px 4px 0px #00000026;
    border: 1px solid #ffffff4d;
    border-radius: 4px;
    font-family: Roboto;
    font-size: 16px;
    line-height: 1.25;
    color: var(--botton-background-color);
    margin-bottom: 20px;
}

.subscribe-icon {
    margin-left: 10px;
    fill: var(--botton-background-color);
}