:root {
    --primary-text-color: #212121;
    --secondary-text-color: #757575;
    --black-second-color: #000000;
    --accent-color: #2196f3;
    --background-color-white: #ffffff;
    --links-footer-color: rgba(255, 255, 255, 0.6);
    --hero-background-grey: #2f303a;
    --botton-background-color: #f5f4fa;
    --team-background-color: #f5f4fa;
    --botton-hover-blue: #188ce8;
    --social-links-color: #afb1b8;
    --border-color: #eeeeee;
    --timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    --primary-font-family: Roboto, sans-serif;
}